{
  "openapi": "3.0.3",
  "info": {
    "title": "Longshot RFQ API",
    "description": "RFQ trading API for binary options on crypto assets.\n\n## Authentication\n\nAll RFQ endpoints require a session token obtained via `/v1/auth/wallet` or `/v1/auth/session`.\nPass the token in the `Authorization` header:\n\n```\nAuthorization: Bearer <session_token>\n```\n\n## Signing Orders\n\nOrders must be signed with secp256k1 (EVM) using a specific binary format.\nSee `fixtures/api/SIGNING.md` for the exact signing format.\n\n**Key points:**\n- Auth messages use milliseconds, not seconds\n- Orders are signed as BINARY, not JSON\n- Unit conversions: `wager_micros * 10000 = wager_micros`, `min_odds * 10000 = min_odds_bps`",
    "contact": {
      "name": "Longshot",
      "url": "https://longshot.xyz"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.longshot.io",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Liveness endpoint.",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Readiness endpoint.",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/access": {
      "get": {
        "tags": [
          "access"
        ],
        "summary": "Report whether the current request may open new positions.",
        "operationId": "get_access",
        "responses": {
          "200": {
            "description": "Position-opening access policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/auth/wallet": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Authenticate with a direct wallet signature and issue an admin session.",
        "description": "Requires the user to be an admin in the database. If no admins exist yet, a\nwallet allowlisted in ADMIN_WALLETS may atomically bootstrap the first admin.\nThis route shares the public wallet verifier and its configured message-age\nand replay policy. A successful admin wallet session lasts one hour.",
        "operationId": "admin_wallet_auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Admin session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address or signature format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Signature verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Wallet auth temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/available_balance": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read the protocol treasury's available balance.",
        "operationId": "admin_get_available_balance",
        "responses": {
          "200": {
            "description": "Protocol available balance returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/ban": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Ban an enabled non-admin user.",
        "operationId": "admin_ban_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBanUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User banned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminBanUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "User is already banned or is an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/betting_policy": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read global betting policy (admin only).",
        "operationId": "admin_get_betting_policy",
        "responses": {
          "200": {
            "description": "Betting policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BettingPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contest_payout_reviews": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List contest payouts held for admin review.",
        "operationId": "admin_list_contest_payout_reviews",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status filter: pending (default), approved, rejected, or all",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows to return (default 100, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contest payout reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContestPayoutReviewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contest_payout_reviews/{id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Approve a held contest payout, debiting the protocol treasury for its",
        "description": "collateral and crediting the user.",
        "operationId": "admin_approve_contest_payout_review",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Review id (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout approved and credited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContestPayoutReviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Review not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Review is not pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Protocol treasury cannot cover the payout collateral",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contest_payout_reviews/{id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Reject a held contest payout with a reviewer note.",
        "operationId": "admin_reject_contest_payout_review",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Review id (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRejectContestPayoutReviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContestPayoutReviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Review not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Review is not pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/featured": {
      "put": {
        "tags": [
          "admin"
        ],
        "summary": "Replace the two explicit contest-lobby featured slots (admin only).",
        "operationId": "admin_set_featured_contests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetFeaturedContestsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Featured contest slots replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetFeaturedContestsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies why a selected contest cannot be featured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Edit mutable presentation and protocol-funded prizes before a contest goes live.",
        "operationId": "admin_update_open_contest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOpenContestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Open contest updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOpenContestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contest is live, settled, or no longer on its opening round",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/funding": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read the admin-only funding breakdown and current treasury exposure for a contest.",
        "operationId": "admin_get_contest_funding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contest funding breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminContestFundingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid contest id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/roster/finalize": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Finalize a roster contest: every selection's final points plus the",
        "description": "tiebreaker result in one atomic call (admin only).\n\nRequires entries to be locked. Settlement is applied by the backend\nresolution worker on its next sweep.",
        "operationId": "admin_finalize_roster",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinalizeRosterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Roster contest finalized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalizeRosterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contest closed, void requested, entries still open, or already finalized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies an unsupported contest or incomplete final points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/roster/scores": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Bulk-update roster selection live points and display state (admin only).",
        "description": "Only provided fields change; omitted fields keep their stored value.\nRejected once the contest has been finalized.",
        "operationId": "admin_update_roster_scores",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRosterScoresRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Roster scores updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRosterScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contest closed, void requested, or already finalized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies an unsupported contest or invalid roster selection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/roster/void": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Request a roster contest void; every entrant is refunded by the backend",
        "description": "resolution worker on its next sweep (admin only).",
        "operationId": "admin_void_roster_contest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roster contest void requested",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidRosterContestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid contest id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contest closed or already finalized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies why the contest cannot be voided as a roster contest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/rounds": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Create the current round or stage a future round (admin only).",
        "operationId": "admin_create_contest_round",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContestRoundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contest round created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContestRoundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contest cannot create this round in its current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies the invalid market, prize, or betting-window field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/rounds/{game_index}/markets": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Append one or more markets to a Streak round: the open round, or one scheduled ahead of it.",
        "operationId": "admin_append_contest_round_markets",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_index",
            "in": "path",
            "description": "Round index",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 32767,
              "minimum": 0
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendContestRoundMarketsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Markets appended"
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Streak round cannot be changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies the invalid Streak market field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/rounds/{game_index}/markets/{market_id}/live-state": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Set or clear the live-state payload owned by one contest-market association.",
        "operationId": "admin_set_contest_market_live_state",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_index",
            "in": "path",
            "description": "Contest round index",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "market_id",
            "in": "path",
            "description": "Market id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetContestMarketLiveStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contest market live state updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetContestMarketLiveStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest market association not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/tiebreaker_result": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Set or update a lineups, Survivor, or outcast contest tiebreaker result (admin only).",
        "operationId": "admin_set_contest_tiebreaker_result",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetContestTiebreakerResultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tiebreaker result set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetContestTiebreakerResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contest already resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Contest validation failed; the response identifies why the contest does not support a tiebreaker result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/contests/{id}/void_round": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Void the current or last-scheduled future Survivor round (admin only).",
        "description": "A current round advances or settles existing survivors. An empty opening is\nremoved so round zero can be replaced. The last scheduled future round is\nunscheduled outright.",
        "operationId": "admin_void_survivor_round",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidSurvivorRoundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Round voided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidSurvivorRoundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contest not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Round not voidable (not the current or last scheduled round, already graded, next round missing or past its betting deadline, or contest closed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/create_chat": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Create an in-memory chat box (admin only).",
        "operationId": "admin_create_chat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCreateChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Chat created"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Chat already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/create_contest": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Create a contest (admin only).",
        "operationId": "admin_create_contest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contest created or an identical request replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key was already used with a different request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/create_vault": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Create a vault and backing vault user.",
        "operationId": "admin_create_vault",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCreateVaultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Vault created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCreateVaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Vault wallet or Privy identity already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/crypto/health": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read crypto worker health, lifecycle evidence, visible-ladder coverage,",
        "description": "quarantines, and stuck positions.\n\nQuarantine pagination is an opaque keyset walk over current lifecycle state;\nrecords may change or leave a status filter between pages. The summary\nreports all active suppressions separately from actionable suppressions;\nexpected `first_seen_after_betting_close` suppressions remain visible but do\nnot by themselves degrade overall health. The lifecycle cursor is a current\npersisted watermark, not proof of automatic advancement; compare refreshes\nand lifecycle logs. Ladder coverage is the fixed 150-slot visible set: five\nassets by three durations by live + nine windows.",
        "operationId": "admin_get_crypto_health",
        "parameters": [
          {
            "name": "quarantine_status",
            "in": "query",
            "description": "active (default), cleared, or all",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "reason_code",
            "in": "query",
            "description": "Exact quarantine reason code",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "phase",
            "in": "query",
            "description": "Exact lifecycle quarantine phase",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quarantines per page, default 50 and max 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque quarantine cursor returned by the preceding page",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health summary and quarantine page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCryptoHealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Enabled admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/crypto/markets": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List price markets with linked activity and quarantine metrics.",
        "description": "Uses opaque keyset pagination over current market and aggregate state. A\nposition can be attributed to every linked leg, so market rows are not\nadditive across multi-leg positions. Membership is anchored to the first\nrequest time even when `to_ms` includes scheduled windows up to 24 hours\nafter that snapshot.",
        "operationId": "admin_list_crypto_markets",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "pending, open, frozen, disputed, pending_resolution, resolved, or voided",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "asset",
            "in": "query",
            "description": "BTC, ETH, SOL, XRP, or HYPE",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "quarantined",
            "in": "query",
            "description": "Filter by active quarantine state",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive title search, max 200 bytes",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "description": "Window-start lower bound; defaults to a trailing 30-day window",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "description": "Window-start upper bound; defaults to the page snapshot and may be at most 24 hours after it",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "window_start (default), betting_close, resolution_time, volume, or open_interest",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "desc (default) or asc",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, default 50 and max 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by the preceding page; retain all filters and sort options",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market page; every *_micros field is a decimal string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCryptoMarketsPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query, cursor, range greater than 366 days, or market horizon beyond snapshot + 24 hours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Enabled admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/crypto/overview": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Aggregate current crypto-market operating, revenue, treasury, fee, and vault metrics.",
        "operationId": "admin_get_crypto_overview",
        "responses": {
          "200": {
            "description": "Crypto operations overview; every *_micros field is a decimal string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCryptoOverviewResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Enabled admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/crypto/rfqs": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List current crypto RFQ sessions using opaque keyset pagination.",
        "description": "The page anchor excludes RFQs created after the first page. Mutable status\nand fill aggregates reflect current state.",
        "operationId": "admin_list_crypto_rfqs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "executing, completed, failed, timed_out, cancelled, leg_resolved, or finalizing",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "asset",
            "in": "query",
            "description": "BTC, ETH, SOL, XRP, or HYPE",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Taker UUID",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "maker_user_id",
            "in": "query",
            "description": "Maker UUID",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "description": "Linked market ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "rfq_id",
            "in": "query",
            "description": "RFQ request UUID",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "include_estimates",
            "in": "query",
            "description": "Include quote-only estimates; defaults to false",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "from_ms",
            "in": "query",
            "description": "Created-at lower bound; defaults to a trailing 30-day window",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "description": "Created-at upper bound; defaults to the page snapshot",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "created_at (default), wager, or expires_at",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "desc (default) or asc",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, default 50 and max 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by the preceding page; retain all filters and sort options",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RFQ page; every *_micros field is a decimal string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCryptoRfqsPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query, cursor, or range greater than 366 days",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Enabled admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/crypto/suppressions": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List standalone market-admission suppressions using opaque keyset pagination.",
        "description": "The page anchor excludes suppressions first observed after the first page.\nStatus, observation count, retry state, and bounded diagnostics reflect\ncurrent state. Replay payloads and operator identities are intentionally\nomitted.",
        "operationId": "admin_list_crypto_suppressions",
        "parameters": [
          {
            "name": "suppression_status",
            "in": "query",
            "description": "active (default), cleared, or all",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "reason_code",
            "in": "query",
            "description": "Exact suppression reason code",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "description": "Linked Longshot market ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, default 50 and max 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by the preceding page",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current suppression page with bounded diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCryptoSuppressionsPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Enabled admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/crypto/timeseries": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read bounded hourly or daily crypto volume, interest, fee, revenue, and vault PnL.",
        "operationId": "admin_get_crypto_timeseries",
        "parameters": [
          {
            "name": "from_ms",
            "in": "query",
            "description": "Window start; defaults to a trailing 30-day window",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "to_ms",
            "in": "query",
            "description": "Window end; defaults to request time",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "description": "hour or day (default)",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time-series points; every *_micros field is a decimal string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminCryptoTimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query or range greater than 366 days",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Enabled admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/deposit": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Move funds from the protocol treasury's onchain settlement balance into protocol treasury balance.",
        "operationId": "admin_deposit_protocol_balance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDepositRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Protocol treasury credited, or existing terminal operation status replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Protocol treasury deposit accepted for asynchronous recovery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceOperationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key already used",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Onchain post failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Pending row write or idempotency replay lookup failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/deposit_match/grant": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Grant a deposit match opportunity: the user's next qualifying cash deposit is matched 1:1 in bonus credits up to the limit.",
        "operationId": "admin_grant_deposit_match",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminGrantDepositMatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deposit match opportunity granted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDepositMatchOpportunityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key already used",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Vault user rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Deposit match grant write failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/deposit_match/opportunities": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List deposit match opportunities, optionally filtered to one user.",
        "operationId": "admin_list_deposit_match_opportunities",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter to one user (UUID)",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include consumed, revoked, and expired opportunities",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum rows returned (default 100, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit match opportunities returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDepositMatchOpportunitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Deposit match listing failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/deposit_match/opportunities/{id}/revoke": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Revoke an active deposit match opportunity.",
        "operationId": "admin_revoke_deposit_match",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Opportunity ID (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit match opportunity revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDepositMatchOpportunityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid opportunity id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Opportunity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Opportunity already consumed or revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Deposit match revoke write failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/admin/deposit_match/signup_policy": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read the automatic deposit-match policy for newly created accounts.",
        "operationId": "admin_get_signup_deposit_match_policy",
        "responses": {
          "200": {
            "description": "Signup deposit-match policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupDepositMatchPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Replace the automatic deposit-match policy for newly created accounts.",
        "operationId": "admin_set_signup_deposit_match_policy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminSetSignupDepositMatchPolicyRequest"
              }
            }
          },
          "required": true
        },
[...]
